@model PostSummaryViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @{
                if (Model != null)
                {
                    if (Model.PostSummaries == null || !Model.PostSummaries.Any())
                    {
                        <h1>Welcome!</h1>
                        <p>Get started and write your first diary post <a class="text-primary" asp-controller="Account" asp-action="Login">here</a>.</p>
                        <p>Happy Expressing!</p>
                    }
                    else
                    {
                        <h4><small>RECENT POSTS</small></h4>
                        <hr>

                        foreach (var post in Model.PostSummaries)
                        {
                            <article>
                                <div class="post-preview">
                                    <h2><a asp-page="/post" asp-route-id="@post.Id.ToString("N")" asp-route-slug="">@post.Title</a></h2>
                                    <div class="h5 text-muted">@post.PublishDate.ToString("MMM dd, yyyy")</div>
                                    <p class="lead">@post.Text</p>
                                    <div class="h4"><a asp-page="/post" asp-route-id="@post.Id.ToString("N")" asp-route-slug=""><span class="glyphicon glyphicon-comment"></span> @post.Author</a></div>
                                </div>
                            </article>
                            <hr>
                        }
                    }
                }
            }
        </div>
    </div>
</div>
